body {
    margin: 25px 50px 75px 100px;
    background-image: url(Images/nyc.jpg);
}

.engine
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#button
{
    background-color: lawngreen;
}

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#google
{
    color: limegreen;
}

#duck
{
    color: red;
}

#bing
{
    color: darkorange;
}

#ask
{
    color: rebeccapurple;
}

#using
{
    font-size: 28px;
}

#searchfor
{
    font-size: 30px;
}